@import url('https://fonts.googleapis.com/css?family=Antic+Didone&display=swap');

@font-face {
	font-family: 'Aesthetic-White';
	src: url('../../static/fonts/Aesthetic-White.woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Cormorant-Regular';
	src: url('../../static/fonts/Cormorant-Regular.eot');
	src: url('../../static/fonts/Cormorant-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Cormorant-Light';
	src: url('../../static/fonts/Cormorant-Light.eot');
	src: url('../../static/fonts/Cormorant-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CormorantUnicase-Regular';
	src: url('../../static/fonts/CormorantUnicase-Regular.eot');
	src: url('../../static/fonts/CormorantUnicase-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}