@import "./variables.scss";
@import "./mixins.scss";
@import "./fonts.scss";



html {
    font-size: calc(16px + 2 * ((100vw - 375px) / 1245));
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    background-color: $background-light;
    
  }

@media (min-width: 1441px) {
    html {
        background: #e7e7eb;
    }
}

body {
    font-family: $cormorant-regular;
    color: $body-dark;
    max-width: 1440px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}


  
main {
    min-height: calc(100vh - #{$desktop-header-height} - #{$footer-height-desktop});
    padding-top: 100px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button-reset {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
}