@import "./variables.scss";
@import "./mixins.scss";


.news-block {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    a {
        color: inherit;
    }
    &__container {
        position: relative;
        margin: 6%;
        background-color: #000;
    }
    &__photo {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    &__hover {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__title {
        text-transform: uppercase;
        font-size: 1.6em;
        line-height: 1.1;
        color: $light;
    }
}

.news-block__container:hover .news-block__photo {
    opacity: 0.3;
}
.news-block__container:hover .news-block__hover {
    opacity: 1;
}

