@import "./variables.scss";
@import "./mixins.scss";
@import "./fonts.scss";

.container {
    margin: auto;
    text-align: center;
    h1 {
        margin-top: 30px;
        font-size: 4em;
        font-family: $antic-didone;
        color: $light-brown;
    }
    &__sign {
        font-family: $aesthetic-white;
        color: $light-brown;
        font-size: 1.6em;
        margin-left: 100px;
        margin-bottom: 60px;
    }
    span {
        display: block;
    }
    h2 {
        font-size: inherit;
        text-transform: uppercase;
        font-weight: 600;
    }
    a {
        display: block;
        color: inherit;
    }
}

.block {
    margin: 15px 0;
}